* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #4ac3fb;
}

button,
select {
  width: 10vw;
}

img {
  width: 15vw;
}
